@media (max-width: 1650px) {
	.main__img {
		width: 220%;
	}
}

@media (max-width: 1290px) {
	.header__phone {
		font-size: 16px;
	}

	.header__link, .header__link_search {
		font-size: 16px;
	}

	.header__button {
		width: 130px;
		padding: 12px 15px;
		font-size: 13px;
	}

	.footer__nav_link {
		font-size: 0.8em;
		line-height: 90%;
	}

	.footer__main_info_text {
		font-size: 0.8em;
	}

	.footer__block_img::before {
		bottom: 53%;
	}

	.main__img {
		width: 250%;
	}
}

@media (max-width: 1150px) {
	.header__phone {
		font-size: 14px;
	}

	.header__link, .header__link_search {
		font-size: 14px;
	}

	.header__button {
		width: 110px;
		padding: 8px 10px;
		font-size: 11px;
	}

	.main__subtitle {
		font-size: 1.2em;
	}

	.footer__block_img::before {
		bottom: 57%;
	}
}

@media (max-width: 1030px) {
	.header__phone {
		font-size: 12px;
	}

	.header__blockphone {
		padding: 1.6% 3% 1.6% 0;
	}

	.header__link, .header__link_search {
		font-size: 12px;
	}

	.header__nav {
		width: 45%;
	}

	.header__nav_add {
		width: 19%;
	}

	.header__button {
		width: 110px;
		height: 35px;
		padding: 5px 7px;
		font-size: 12px;
	}

	.main__subtitle {
		font-size: 1.1em;
	}

	.footer__title_white {
		font-size: 1.5em;
	}

	.footer__article_text {
		font-size: 0.8em;
	}
}

@media (max-width: 850px) {
	.header__burger {
		padding-right: 50%;
	}
	.header__burger_button {
		display: block;
	}

	.header__blockphone, .header__nav {
		display: none;
	}

	.header__link_click {
		font-size: 20px;
		line-height: 25px;
		display: block;
		width: 12em;
		padding: 15px;
		text-align: center;
		border: 1px solid #333333;
		background-color: #F4F4F4;
	}

	.header__nav_click {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		top: 80px;
		z-index: 2;
	}

	.header__nav_add {
		width: 40%;
	}

	.header__link_search {
		font-size: 14px;
	}

	.main__block_wrap {
		display: block;
	}

	.main__block_wallpaper {
		display: none;
	}

	.main__section_info {
		width: 100%;
	}

	.main__section_chat {
		width: 100%;
		height: 150px;
	}

	.main__block_chat {
		height: 75%;
		padding-bottom: 5%;	
	}

	.footer__block_contact {
		width: 100%;
	}

	.footer__block_img {
		display: none;
	}

	.footer__block_info {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 600px) {
	.header__burger {
		padding-right: 45%;
	}

	.header__nav_add {
		width: 40%;
	}

	.main__subtitle {
		font-size: 1em;
	}

	.footer__block_phones {
		display: none;
	}

	.footer__block_info {
		display: block;
	}

	.footer__nav {
		width: 40%;
	}

	.footer__main_info {
		width: 60%;
	}
}

@media (max-width: 500px) {
	.header__burger {
		padding-right: 30%;
	}

	.header__nav_add {
		width: 45%;
	}

	.main__link {
		font-size: 14px;
	}
	
	.main__subtitle {
		font-size: 0.9em;
	}

	.main__subtitle::before { 
		left: 5px;
	}

	.main__title {
		font-size: 1.5em;
	}

	.main__quote {
		width: 70%;
		font-size: 14px;
	}

	.main__block_articles {
		width: 71%;
	}

	.main__article {
		padding: 3% 4% 3% 3%;
	}

	.main__article_title, .main__article_text {
		font-size: 0.9em;
	}

	.modalwin { 
    	width: 260px;
    	height: 300px;
    	background-size: 144%;
    	padding: 0 17px 26px 17px;
    }

    .modalwin__button_close {
		margin: 5.7px 0 0 255px;
	}

	.modalwin__title {
		font-size: 17px;
		margin: 2px 0 26px 0;
	}

	#users, #phone {
		width: 90%;
		height: 39px;
		font-size: 15px;
		padding-left: 15px;
	}

	#numberMess, #phoneMess {
		width: 97%;
	}
}

@media (max-width: 400px) {
	.header__burger {
		padding-right: 10%;
	}

	.header__nav_add {
		width: 60%;
	}

	.main__link {
		font-size: 14px;
	}

	.main__title {
		font-size: 1.2em;
	}

	.main__quote {
		width: 70%;
		font-size: 14px;
	}

	.main__block_sertific {
		display: none;
	}

	.main__block_articles {
		width: 100%;
	}

	.main__article_title, .main__article_text {
		font-size: 0.95em;
	}

	.footer__title_white {
		font-size: 1.2em;
	}

	.footer__article_text {
		font-size: 0.7em;
	}

	.footer__nav {
		width: 50%;
	}

	.footer__main_info {
		width: 50%;
	}
}