@font-face {
	font-family: Geometria;
	src: url(fonts/geometria-medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: Geometria;
	src: url(fonts/geometria-bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Geometria;
	src: url(fonts/geometria.ttf);
	font-weight: 400;
}

body {
	max-width: 1920px;
	margin: auto;
	font-family: Geometria, sans-serif;
	color: #333333;
	overflow-x: hidden;
}

.header {
	width: 95.6%;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	padding-right: 5%;
}

.header__burger_button {
	width: 40px;
	height: 5px;
	background-color: #333333;
	border-radius: 8px;
	border: 1px solid #333333;
	outline: none;
	position: relative;
	display: none;
}

.header__burger_button::before {
	content: '';
	position: absolute;
	left: -1px;
	bottom: 10px;
	width: 38px;
	height: 3px;
	background-color: #333333;
	border: 1px solid #333333;
	border-radius: 8px;
}

.header__burger_button_click {
	transform: rotate(90deg);
}

.header__burger_button::after {
	content: '';
	position: absolute;
	left: -1px;
	bottom: -12px;
	width: 38px;
	height: 3px;	
	background-color: #333333;
	border: 1px solid #333333;
	border-radius: 8px;
}

.header__blockphone {
	padding: 1.6% 5% 1.6% 0;
	
}

.header__phone {
	font-size: 18px;
	font-weight: 400;
	margin: 10px 0 10px 0;
}

.header__phone:hover {
	cursor: pointer;
}

.header__nav {
	width: 46.3%;
	padding-right: 9.5%;
	display: flex;
	justify-content: space-between;
}

.header__link {
	position: relative;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #333333;
}

.header__link:hover {
	cursor: pointer;
	color: #828282;
}

.header__link:hover::before {
	content: '';
	position: absolute;
	left: -5px;
	bottom: 52px;
	width: 95%;
	background-color: #FFDB2D;
	border: 5px solid #FFDB2D;
	border-radius: 0px 0px 8px 8px;
}

.header__nav_add {
	width: 17.4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__link_search {
	position: relative;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #333333;
	border-bottom: 1px dashed #333333;
}

.header__link_search:hover {
	cursor: pointer;
	color: #828282;
}

.header__link_search:hover::before {
	content: '';
	position: absolute;
	left: -5px;
	bottom: 52px;
	width: 95%;
	background-color: #FFDB2D;
	border: 5px solid #FFDB2D;
	border-radius: 0px 0px 8px 8px;
}

.header__button {
	width: 148px;
	height: 44px;
	border-radius: 8px;
	cursor: pointer;
	background-color: transparent;
	padding: 12px 20px;
	border: 1px solid #333333;
	outline: none;
	color: #333333;
	font-family: Geometria, sans-serif; ;
	font-size: 15px;
	font-weight: 400;
}

.header__button:hover {
	background-color: #828282;
	border: 1px solid #828282;
	color: #FFFFFF;
}

/*Section main*/

.main {
	position: relative;
	overflow: hidden; 
}

.main__blocklink {
	padding: 5% 0 0 2%;
}

.main__link {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #333333;
}

.main__link:hover {
	cursor: pointer;
	color: #828282;
}

.main__block_wrap {
	padding: 0 2% 0 2%;
	display: flex;
	justify-content: space-between;
}

.main__section_info {
	width: 67%;
	padding: 0 1.5% 1.5% 0;
}

.main__title {
	font-weight: bold;
	font-size: 1.875em;
	margin: 10px 0 20px 0;
}
.main__quote {
	width: 49%;
	margin-bottom: 4%;
	font-weight: 400;
	color: #828282;
	font-size: 16px;
}

.main__maincontent_start, .main__maincontent_middle, .main__maincontent_end {
	display: flex;
	justify-content: space-between;
	padding-bottom: 7.7%;
}

.main__block_sertific {
	width: 25%;
}

.main__subtitle {
	width: 76%;
	font-weight: 500;
	font-size: 1.5em;
	position: relative;
	margin: 0;
}

.main__subtitle::before { 
	content: '';
	position: absolute;
	left: 20px;
	bottom: -5px;
	width: 108%;
	border: 1px solid #FFDB2D;
	border-radius: 8px;
	background-color: #FFDB2D;
}

.main__block_articles {
	width: 74.4%;
}

.main__article {
	padding: 4% 6% 4% 4%;
	background: #F4F4F4;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.main__article_content {
	width: 90%;
}

.main__article_title {
	font-weight: 500;
	font-size: 1em;
	line-height: 150%;
	margin: 0;
	cursor: pointer;
	z-index: 1;
	position: relative;
}

.main__article_text {
	font-weight: 400;
	font-size: 1em;
	line-height: 130%;
	margin: 20px 0 10px 10px;
	display: none;

}

.main__article_text_open {
	display: block;
}

.main__article_sec_button {
	padding-top: 3px;
}

.main__article_button {
	width: 19px;
	height: 19px;
	cursor: pointer;
	border-radius: 50%;
	background-image:url(img/statnormal.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 0;
	z-index: 1;
	position: relative;
}

.main__article_button_rotate {
	transform: rotate(45deg);
}

.main__article_button:hover {
	background-image:url(img/startactive.png);
	background-size: 100%;
	background-repeat: no-repeat;
	border: 0;
}

.main__section_chat {
	width: 33%;
}
.main__block_chat {
	height: 37.7%;
	padding-bottom: 19%;	
}

.main__block_chatcontent {
	height: 100%;
	background-color: #E0E0E0;
	border-radius: 8px;
}

.main__block_wallpaper {
	position: absolute;
	left: 34%;
}

.main__img {
	position: relative;
	z-index: -1;
	width: 250%;
}

.footer {
	padding: 5.5% 2% 5.5% 2%;
	display: flex;
	justify-content: space-between;
	background-color: #333333;
}

.footer__block_contact {
	width: 41.5%;
	padding-right: 1.5%;
}

.footer__department {
	padding-bottom: 7%;
}

.footer__title_white, .footer__article_text {
	color: #E0E0E0;
}
.footer__title_white {
	margin: 0 0 7% 0;
}

.footer__department_name {
	padding-bottom: 10px;
}

.footer__article_text {
	font-weight: 400;
	font-size: 1em;
	line-height: 130%;
	margin: 0;
}

.footer__phone_text {
	color: #FFFFFF ;
}

.footer__department_pnones {
	display: flex;
	justify-content: flex-start;
}

.footer__pnonenumber {
	padding-right: 7%;
}

.footer__add_info {
	display: flex;
	justify-content: space-between;
}

.footer__nav {
	width: 30%;
}

.footer__nav_link {
	font-weight: 500;
	font-size: 1em;
	color: #FFFFFF;
	cursor: pointer;
	text-decoration: none;
	line-height: 150%;
}

.footer__main_info {
	width: 58%;
}

.footer__main_info_text {
	font-weight: 500;
	font-size: 1em;
	color: #FFFFFF;
	line-height: 130%;
	margin: 0;
}

.footer__block_img {
	width: 58.5%;
	position: relative;

}

.footer__img {
	width: 100%;
}

.footer__block_img::before {
	content: '';
	position: absolute;
	left: 65.75%;
	bottom: 50.7%;
	width: 4.14%;
	height: 7.15%;
	background-image: url(img/Frame113.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

.modalwin { 
    height: 319px;  
    width: 395px;
    border-radius: 8px; 
    background-image: url(img/Rectangle210.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 8%; 
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index:3;
    display: none; 
    position: fixed;
    padding: 0 26px 40px 26px;
}

.modalwin__button_close, .modalmes__button_close {
	width: 16.6px;
	height: 16.6px;
	cursor: pointer;
	margin: 5.7px 0 0 398.7px;
	background-image:url(img/Style.png);
	background-size: 100%;
	background-color: transparent;
	outline: none;
	background-repeat: no-repeat;
	border: 0;

}

.modalwin__title {
	font-weight: 500;
	font-size: 20px;
	margin: 7.7px 0 40px 0;
	line-height: 124%;
	color: #333333;
}

#users, #phone {
	width: 74%;
	height: 43px;
	background: #F4F4F4;
	border: 1px solid #828282;
	border-radius: 8px;
	color: #828282;
	font-family: Geometria;
	font-weight: 400;
	font-size: 15px;
	line-height: 130%;
	padding-left: 20px;
	outline: none;
}

#users:focus, #phone:focus{
	border: 1px solid #333333;
	color: #333333;
}

#users {
	margin-bottom: 30px;
}

#phone {
	margin-bottom: 40px;
}

#nameMess, #phoneMess   {
	color: #219653;
	font-size: 13px;
	font-weight: 500;
	text-align: right;
	width: 80%;
	display: none;
}

#nameMess {
	margin: 0 0 14px 0;
}

#phoneMess {
	margin: 0 0 24px 0;
}

.modalwin__button_submit {
	width: 223px;
	height: 43px;
	background: #FFDB2D;
	border-radius: 8px;
	border: 0;
	font-family: Geometria;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
	letter-spacing: 0.02em;
	color: #333333;
	cursor: pointer;
}

#modalMes {
	width: 80%;
	height: 333px;  
    border-radius: 8px; 
    background-image: url(img/Rectangle211.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 8%; 
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index:3;
    display: none; 
    position: fixed;
}

.modalMes__title, .modalMes__text {
	font-weight: 500;
	line-height: 124%;
	text-align: center;
	color: #333333;
}

.modalMes__title {
	font-size: 36px;
	margin: 5% 0 1.7% 0;
	text-shadow: 0 -1px rgba(0,0,0,.5);
  	-webkit-animation: pulsate 2s linear infinite;
	animation: pulsate 2s linear infinite;
}

@-webkit-keyframes pulsate {
 50% { color: #FFD700; text-shadow: 0 -1px rgba(0,0,0,.7), 0 0 5px #ffd, 0 0 8px #fff; }
}

@keyframes pulsate {
 	50% { color: #FFD700; text-shadow: 0 -1px rgba(0,0,0,.7), 0 0 5px #ffd, 0 0 8px #fff; }
}

.modalMes__text {
	width: 34%;
	font-size: 20px;
	margin: 1.7% 33% 1.7% 33%;
}

.modalmes__button_close {
	margin: 1.7% 0 0 96%;
}

#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index: 2; 
    background:#000;
    opacity: 0.5; 
    left:0;
    top:0;
    display: none;
}


